.contact-container {
    margin: 0 auto;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.48);
    transform: scale(0);
}

.send-btn {
    color: white;
    background-color: rgba(27, 27, 82, 0.945);
    margin: 20px 0;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    cursor: pointer;
    transition: color 0.15s ease-in, color 0.15s ease-in;
}

.send-btn:hover {
    color: gray;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    width: 30%;
    margin: 10px auto;
}

.contact-form textarea {
    width: 65%;
    height: 80px;
    margin: 10px auto;
}

.popup {
    transition: transform 1s ease;
    transform: scale(1);
}

.contactPage {
    padding: 50px;
    width: 90%;
    height: 69vh;
    transform: scale(1);
}

.contactPage .contact-form {
    height: 90%;
}

.contactPage .contact-form input {
    padding: 10px 0;
    margin: 20px auto;
}

.contactPage form textarea {
    width: 60%;
    height: 90px;
    margin-top: 20px;
}

.contactPage form input:last-child {
    padding: 10px 0;
    margin-top: 120px;
}

.send-msg {
    color: rgb(33, 184, 3);
    position: absolute;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
    z-index: 999;
    width: 300px;
    top: 61%;
    left: 40%;
}
