.avatar {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding: 4px 0;
}

.header-links {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-links a {
    font-size: 18px;
    margin: 8px 10px;
}
