.avatar {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding: 5px 0;
}

.header-links {
    margin: 15px 0;
}

.header-links a {
    font-size: 15px;
    margin: 10px 0;
}
