.project-card-container {
    max-width: 1300px;
    margin: 40px auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.4, 1.03),
        box-shadow 0.2s ease-in;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.48);
}

.project-card-container:hover {
    transform: scale(1.02);
}

.project-card-info {
    padding: 1.5em;
    padding-right: 50px;
    font-size: 25px;
    line-height: 44px;
}

.project-card-picture {
    padding-bottom: 60px;
}

.project-img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    padding: 1.5em;
}
