.profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 20px 0px;
    padding-bottom: 50px;
    text-align: start;
    font-size: 20px;
    padding-bottom: 50px;
}

.profile-title {
    width: 36%;
    margin-left: 120px;
}

.profile-title h1 {
    font-size: 40px;
    font-weight: 700;
    color: gray;
}

.profile-title p {
    font-weight: 700;
    font-size: 25px;
}

.profile-description {
    width: 50%;
}

.profile-description p {
    width: 95%;
    line-height: 1.9;
    font-weight: 500;
}

.profile-description strong {
    color: gray;
    font-weight: 800;
    font-size: 1.3em;
}

.hide {
    display: none;
    background-color: rebeccapurple;
}
