body,
html {
    overflow-x: hidden;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-main {
    margin: 0 auto;
    padding: 50px 80px;
}

.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
}

.App-link {
    color: #61dafb;
}

.projects-list-container {
    margin: 100px auto;
    padding: 50px 25px;
}

footer {
    display: flex;
    justify-content: end;
    margin: 15px 20px;
    width: 100%;
}

footer svg {
    margin: 0 10px;
}
